@page
@model StroopTest.Pages.ActivityRecords.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActivityRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityRecord.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityRecord.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityRecord.Phase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityRecord.Phase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityRecord.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityRecord.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityRecord.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityRecord.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityRecord.Ink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityRecord.Ink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityRecord.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityRecord.Time)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ActivityRecord.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
